@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.form-control {
  @apply mb-2;
}
.form-control > label{
  @apply mb-1 text-sm font-semibold;
}
.text-faint{
  @apply opacity-60 text-xs;
}
input::placeholder{
  @apply text-xs;
}
.screen-height-media{
  /* min-height: calc(100vh - 120px);   */
  min-height: calc(100vh - 120px);
}

.max-screen-height-media{
  /* max-height: calc(100vh - 50px);
  overflow: auto; */
  max-height: calc(100vh - 50px);
  overflow: auto;
}

.max-screen-height-media {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.max-screen-height-media::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

select{
  
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  
}

.menu li a:focus{
   @apply bg-primary text-base-100;
}

html, body {
  overflow: hidden;
  /* height: 100vh; */
  min-height: 100%;
  height: auto;
  /* overflow-x: hidden; */
}

#__next {
  /* height: 100vh;
  overflow: hidden; */
  min-height: 100%;
  overflow: hidden;
}

/* Hide scrollbar but keep scroll functionality */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.btn-white {
  @apply flex items-center gap-1 whitespace-nowrap rounded-md bg-white px-3 py-2
  text-sm font-medium text-blue-600 shadow-md hover:bg-gray-100 transition;
}